body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/* slideIn keyframe */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
